In [96]:
import pandas as pd
import numpy as np
import os
from math import floor

In [86]:
# create a pandas dataframe containing all of the data we have so far
path = "games"
frames = []
for file in os.listdir(path):
    if file.endswith(".csv"):
        tmp = pd.read_csv(path+'/'+file)
        #tmp['Actual'] = tmp['Away Score'] - tmp['Home Score']
        #tmp['Diff'] = tmp['Actual'] - tmp['Home Line Open']
        if tmp.shape[0]>400:
            frames.append((tmp.shape[0], file))
        
df2 = pd.DataFrame(frames)
df2.reset_index(inplace=True)
#df2.drop(columns=['Book','Away Line','Away Odds','Away Line Open'],inplace=True)
df2.head()

   index    0                                               1
0      0  545     Atlanta_Hawks@Boston_Celtics_2020-01-04.csv
1      1  551      Atlanta_Hawks@Brooklyn_Nets_2019-12-22.csv
2      2  449      Atlanta_Hawks@Brooklyn_Nets_2020-01-13.csv
3      3  469  Atlanta_Hawks@Charlotte_Hornets_2019-12-09.csv
4      4  490      Atlanta_Hawks@Chicago_Bulls_2019-12-12.csv

In [87]:
df2.shape

(554, 3)

In [4]:
a = os.listdir(path)

In [6]:
a[1]

'Atlanta_Hawks@Boston_Celtics_2020-01-04.csv'

In [89]:
tmp = pd.read_csv(path+'/'+a[1])

In [90]:
# Change american odds to decimal
tmp.loc[tmp['Home Odds'] > 0, 'Home Odds'] = (tmp['Home Odds']/100)+1
tmp.loc[tmp['Home Odds'] < 0, 'Home Odds'] = (100/(tmp['Home Odds']*-1))+1

In [91]:
# Get returns if a bet was placed at this time
tmp['Actual Spread'] =  tmp['Away Score'] - tmp['Home Score']
tmp.loc[tmp['Home Line'] > tmp['Actual Spread'], 'Returns'] = (1*tmp['Home Odds'])-1
tmp.loc[tmp['Home Line'] < tmp['Actual Spread'], 'Returns'] = -1
tmp.loc[tmp['Home Line'] == tmp['Actual Spread'], 'Returns'] = 0
tmp.drop(columns=['Book','Away Line','Away Odds','Away Line Open', 'Away Team', 'Home Team', 'Actual Spread', 'Home Score', 'Away Score', 'Time'],inplace=True)

In [92]:
tmp.head(5)

   Home Line  Home Odds  Home Line Open   Returns
0        0.0   1.076923           -10.5  0.076923
1       -5.0   1.862069           -10.5 -1.000000
2       -5.0   1.917431           -10.5 -1.000000
3       -5.0   1.934579           -10.5 -1.000000
4       -5.0   1.943396           -10.5 -1.000000

In [119]:
# Cut up the data into frames of size 'time_steps'
def create_frames(time_steps, df):
    x = []
    y = []
    
    for i in range(floor(df.shape[0]/time_steps)):
        x.append(df.iloc[i:i+time_steps,:-1].values.tolist())
        y.append(df.iloc[i:i+time_steps,-1:].values.tolist())
    
    return x,y

In [120]:
a,b = create_frames(10,tmp)

In [124]:
a[0:2]

[[[0.0, 1.0769230769230769, -10.5],
  [-5.0, 1.8620689655172413, -10.5],
  [-5.0, 1.9174311926605505, -10.5],
  [-5.0, 1.9345794392523366, -10.5],
  [-5.0, 1.9433962264150944, -10.5],
  [-5.0, 1.9433962264150944, -10.5],
  [-5.0, 1.9615384615384617, -10.5],
  [-5.0, 1.9174311926605505, -10.5],
  [-5.0, 1.8547008547008548, -10.5],
  [-7.0, 1.8849557522123894, -10.5]],
 [[-5.0, 1.8620689655172413, -10.5],
  [-5.0, 1.9174311926605505, -10.5],
  [-5.0, 1.9345794392523366, -10.5],
  [-5.0, 1.9433962264150944, -10.5],
  [-5.0, 1.9433962264150944, -10.5],
  [-5.0, 1.9615384615384617, -10.5],
  [-5.0, 1.9174311926605505, -10.5],
  [-5.0, 1.8547008547008548, -10.5],
  [-7.0, 1.8849557522123894, -10.5],
  [-8.0, 1.925925925925926, -10.5]]]

In [122]:
b[0]

[[0.07692307692307687],
 [-1.0],
 [-1.0],
 [-1.0],
 [-1.0],
 [-1.0],
 [-1.0],
 [-1.0],
 [-1.0],
 [-1.0]]